APP_NAME="API do Gerax Manager"
APP_VERSION="0.1.0"
APP_ENV="local"
DEBUG=true

# Nunca coloque segredos reais neste arquivo.
ROUTERS_JSON=[]

GRAFANA_PORT=3180
ADMINER_PORT=8187
PROMETHEUS_PORT=9090

MARIADB_PORT=3317
MARIADB_DATABASE=gerax_manager
MARIADB_USER=gerax
MARIADB_PASSWORD=change-me-local-password
MARIADB_ROOT_PASSWORD=change-me-root-password
